div.green {
    background:lightgreen;
}
div.yellow {
    background:khaki;
}
div.red {
    background:red;
}
div.oldpatch {
    background:lightgray;
}

#tablelegend_left {
    background-color:lavender;
    width:150px;
    white-space:nowrap;
}
#tablelegend {
    background-color:lavender;
}

table {
    font-size:11px;
    width:auto;
    margin-top:16px;
    margin-bottom:16px;
    word-break:normal;
    background-color:ghostwhite;
    border-width:1px;
    border-spacing:2px;
    border-style:groove;
    border-color:lightgray;
    border-collapse:collapse;
}
table th {
    background-color:ghostwhite;
    border-width:1px;
    padding:2px;
    border-style:groove;
    border-color:lightgray;
}
table td {
    background-color:ghostwhite;
    border-width:1px;
    padding:2px;
    border-style:groove;
    border-color:lightgray;
}

table.boards td {
    width:60px;
    text-align:center;
}
table.boards th {
    width:60px;
    text-align:center;
}

table.patches {
    width:100%;
    text-align:center;
}
table.patches th {
    text-align:center;
}
table.patches td {
    text-align:center;
}

.some-margin {
    margin-left: 10px;
    margin-right: 10px;
}