{% extends "base_skeleton.html" %}

{% block content %}

<h1>Edit board-type for project {{ boardclass.projectid.name }}</h1>

<form method="post" action="{% url 'PCBTracker.views.edit_boardclass' boardclass.id %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_revision">Revision</label>
        <input type="text" class="form-control" name="revision" id="id_revision">
    </div>
    <div class="form-group">
        <label for="id_name">Name</label>
        <input type="text" class="form-control" name="name" id="id_name">
    </div>
    <div class="form-group">
        <label for="id_productnr">Product-Nr.</label>
        <input type="text" class="form-control" name="productnr" id="id_productnr">
    </div>
    <div class="form-group">
        <label for="id_desc">Description</label>
        <input type="text" class="form-control" name="desc" id="id_desc">
    </div>
    <button type="submit" class="btn btn-default" value="submit">Create</button>
    <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
