{% extends "base_skeleton.html" %}

{% block script %}

<script type="text/javascript">
$(document).ready(function(){
{% for p in all_projects %}
  $("#btn_{{ p.project.id }}").click(function(){
    $("div#{{ p.project.id }}").slideToggle("fast");
  });

  $("div#{{ p.project.id }}").hide();
{% endfor %}
});
</script>

{% endblock %}

{% block content %}

<div class="panel panel-primary">
    <div class="panel-heading">All Projects</div>

    <div class="panel-body">
    {% for p in all_projects %}
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu_{{ p.project.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="caret"></span>
            <b>{{ p.project.name }}</b> {{ p.project.desc }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu_{{ p.project.id }}">
            {% for b in p.boards %}
            <li><a href="{% url 'PCBTracker.views.boards' b.id %}"><b>{{ b.name }}</b> {{ b.desc }}</a></li>
            {% endfor %}
            <li role="separator" class="divider"></li>
            <li><a class="btn btn-default" href="{% url 'PCBTracker.views.add_boardclass' p.project.id %}">Add board-type</a></li>
            <li><a class="btn btn-default" href="{% url 'PCBTracker.views.edit_project' p.project.id %}">Edit project</a></li>
        </ul>
    </div>
    {% endfor %}
    </div>

    <div class="panel-footer">
    <a class="btn btn-default" href="{% url 'PCBTracker.views.add_project' %}">Add Project</a>
    </div>
</div>

{% endblock %}
