{% extends "base_skeleton.html" %}

{% block content %}

<div class="panel panel-primary">
    <div class="panel-heading">Create new project</div>

    <form method="post" action="{% url 'PCBTracker.views.add_project' %}">
        {% csrf_token %}
        <div class="form-group some-margin">
            <label for="id_name">Name</label>
            <input type="text" class="form-control" name="name" id="id_name">
        </div>
        <div class="form-group some-margin">
            <label for="id_desc">Description</label>
            <input type="text" class="form-control" name="desc" id="id_desc">
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-default" value="submit">Create</button>
        </div>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>

{% endblock %}
