{% extends "base_skeleton.html" %}

{% block content %}

<h1>Add new {{ boardclass.name }}-board</h1>

<form enctype="multipart/form-data" method="post" action="{% url 'PCBTracker.views.add_board' boardclass.id %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_csnr">Short name</label>
        <input type="text" class="form-control" name="csnr" id="id_csnr">
    </div>
    <div class="form-group">
        <label for="id_serial_top">Serial (top)</label>
        <input type="text" class="form-control" name="serial_top" id="id_serial_top">
    </div>
    <div class="form-group">
        <label for="id_serial_bottom">Serial (bottom)</label>
        <input type="text" class="form-control" name="serial_bottom" id="id_serial_bottom">
    </div>
    <div class="form-group">
        <label for="id_comment">Comment</label>
        <textarea class="form-control" name="comment" id="id_comment"></textarea>
    </div>
    <div class="form-group">
        <label for="id_attachment">Add attachment</label>
        <input class="btn btn-default btn-file" type="file" name="attachment" id="id_attachment">
    </div>
    <button type="submit" class="btn btn-default" value="submit">Create</button>
    <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
