{% extends "base_skeleton.html" %}

{% block content %}

<div class="panel panel-primary">
    <div class="panel-heading">Add new patch for {{ boardclass.name }}-board</div>

    <form enctype="multipart/form-data" method="post" action="{% url 'PCBTracker.views.add_patch' boardclass.id %}">
        {% csrf_token %}
        <div class="form-group some-margin">
            <label for="id_name">Name</label>
            <input type="text" class="form-control" name="name" id="id_name">
        </div>
        <div class="form-group some-margin">
            <label for="id_desc">Description</label>
            <input type="text" class="form-control" name="desc" id="id_desc">
        </div>
        <div class="form-group some-margin">
            <label for="id_why">Why?</label>
            <input type="text" class="form-control" name="why" id="id_why">
        </div>
        <div class="form-group some-margin">
            <label for="id_mandatory">Mandatory?
            <input type="checkbox" class="form-control" name="mandatory" id="id_mandatory" value="">
            </label>
        </div>
        <div class="form-group some-margin">
            <label for="id_mantis">Link to bugtracker</label>
            <input type="text" class="form-control" name="mantis" id="id_mantis">
        </div>
        <div class="form-group some-margin">
            <label for="id_attachment">Add attachment</label>
            <input class="btn btn-default btn-file" type="file" name="attachment" id="id_attachment">
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-default" value="submit">Create</button>
        </div>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
{% endblock %}
