{% extends "base_skeleton.html" %}

{% block styles %}
    div#search {
        margin-left:2em;
    }
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}

<h3>Search for boards</h3>
<div id="search">
    Search for CS-numbers, projects (COR...), serial numbers, patch numbers and board-names.<br>
    You can separate multiple patterns by commas.<br><br>

    <form method="post" action="{% url 'PCBTracker.views.search' %}">
    {% csrf_token %}
    {{ form.searchstring.label_tag }} {{ form.searchstring }}<br><br>
    {{ form.search_boardname }} {{ form.search_boardname.label_tag }}<br>
    {{ form.search_projectname }} {{ form.search_projectname.label_tag }}<br>
    {{ form.search_serial }} {{ form.search_serial.label_tag }}<br>
    {{ form.search_productnr }} {{ form.search_productnr.label_tag }}<br><br>
    {{ form.search_patchnr }} {{ form.search_patchnr.label_tag }}<br><br>
    <input type="submit" value="Go!" />
    </form>
</div>

{% endblock %}
