{% extends "base_skeleton.html" %}

{% block styles %}
    div#searchresults {
        margin-left:2em;
    }
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}

<div class="panel panel-primary">
<div class="panel-heading">Search results for '{{ searchstring }}': </div>

<div id="searchresults_patches" class="some-margin">
    {% if results_patches %}
    <div class="panel panel-success">
        <div class="panel-heading">Matches for Patch</div>
        {% for r in results_patches %}
        <a href={% url 'PCBTracker.views.patch' r.id %} >{{ r }}</a><br>
        {% endfor %}
    </div>
    {% else %}
    <div class="panel panel-warning">
        <div class="panel-heading">No patches found</div>
    </div>
    {% endif %}
</div>

<div id="searchresults_projects" class="some-margin">
    {% if results_projects %}
    <div class="panel panel-success">
        <div class="panel-heading">Matches for Project</div>
        {% for r in results_projects %}
        <a href={% url 'PCBTracker.views.board' r.id %} >{{ r }}</a><br>
        {% endfor %}
    </div>
    {% else %}
    <div class="panel panel-warning">
        <div class="panel-heading">No projects found</div>
    </div>
    {% endif %}
</div>

<div id="searchresults_boardclasses" class="some-margin">
    {% if results_boardclasses %}
    <div class="panel panel-success">
        <div class="panel-heading">Matches for BoardClass</div>
        {% for r in results_boardclasses %}
        <a href={% url 'PCBTracker.views.board' r.id %} >{{ r }}</a><br>
        {% endfor %}
    </div>
    {% else %}
    <div class="panel panel-warning">
        <div class="panel-heading">No boardclass found</div>
    </div>
    {% endif %}
</div>

<div id="searchresults_boards" class="some-margin">
    {% if results_boards %}
    <div class="panel panel-success">
        <div class="panel-heading">Matches for Board</div>
        {% for r in results_boards %}
        <a href={% url 'PCBTracker.views.board' r.id %} >{{ r }}</a><br>
        {% endfor %}
    </div>
    {% else %}
    <div class="panel panel-warning">
        <div class="panel-heading">No boards found</div>
    </div>
    {% endif %}
</div>

</div>

{% endblock %}
